.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 34px;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;
}

.contact-form-container {
  position: sticky;
  top: 22px;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 45vh;
  background-color: white;
}
h2 {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    padding: 36px 100px 0px 100px;
  }
  .contact-form-container {
    position: static;
    width: 40%;
    height: 100vh;
    background-color: white;
  }
  .contact-list-container {
    width: 60%;
    top: 36px;
  }
}
