.contact-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-height: 540px;
  overflow-y: scroll;
}

.contact-list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #ededed;
  width: 328px;
  padding: 14px 10px;
  border-radius: 3px;
  position: relative;
}

.avatar-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.contact-link {
  display: flex;
  gap: 12px;
  width: 90%;
}

.delete-contact-btn {
  position: absolute;
  top: 4px;
  right: 4px;
}
.tags-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.tags-list li {
  align-items: center;
  background-color: #a6a6a6;
  padding: 2px 6px;
  border-radius: 4px;
}
.contact-email {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .contact-list-item {
    width: 558px;
  }
  .contact-list {
    max-height: 100vh;
  }
}
